<div class="container-full">
  <div class="header-block">
    <%= link_to ('<i class="fa-solid fa-arrow-left"></i>').html_safe, root_path, { 'class': 'arrow'} %>
    <span class="main-title">LOG IN</span>
    <span class="right-text">Next</span>
  </div>

  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true, class: 'input-field' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", required: true, class: 'input-field' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field check-box">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me %>
        </div>
      <% end %>
  
      <div class="actions">
        <%= f.submit "LOG IN", class: 'btn-submit' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
